body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
}

.google{
    position: relative;
    display: flex;
    justify-content: center;
}

.img-google{
    width: 74px;
    height: auto;
    margin: 25px;
}

.advanced_Search{
    position: absolute;
    top: 105%;
    width: 100%;
}

/*Überschrieft*/
.labeldiv{
    color: #f28b82;
    font-size: 20px;
    margin: 25px 35px;
}

.line{
    border-bottom: 1px solid #303030;
}
/*Überschrieft*/

/*Überschrieft für die Suche*/
.headingtext{
    position: relative;
    justify-items: center;
    display: flex;
    margin: 25px 35px;
}

.headingpage{
    height: 30px;
    color: #e8eaed;
}

.placeholder{
    min-width: 100px;
    min-height: 41px;
    vertical-align: middle;
    width: 5%;
}

.thesecondheading{
    height: 30px;
    color: #e8eaed;
}
/*Überschrieft für die Suche*/

/*Für die Advanced Suche*/
.advanced_imput{
    max-width: 500px;
    margin: 25px 35px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Eingabefeld-Wrapper */
.imputdiv{
    display: flex;
    flex-direction: column;
}

/* Labels */
.label-text{
    color: #e8eaed;
    margin-bottom: 5px;
}

/* Eingabefeld */
.input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

/* Hilfstext */
.helper-text {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}
/* Blaue Hervorhebung */
.highlight {
    color: #0078D7;
    font-weight: bold;
}

/* Such-Button */
.button_for_the_search {
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #0078D7; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_for_the_search:hover {
    background-color: #005a9e;
}
/*Für die Advanced Suche*/


/* Andere Optionen Benutzerkonto */
.AndereSOP{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.Suche-option{
    margin-right: 20px;
}

.Suche-option a{
    text-decoration: none;
    padding-right: 10px;
    color: #d9d9d9;
}

.konto-option{
    display: flex;
    align-items: center;
}

.konto-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

svg{
    margin-right: 10px;
}
/* Andere Optionen Benutzerkonto */